<nme-rubberband
  (contextmenu)="onContextMenu($event);"
  (selectedCellsChange)="onRubberbandSelectedCellsChange($event);">
  <section *ngIf="folders.length > 0" class="folders-section">
    <p>文件夹</p>
    <mat-grid-list [cols]="gridListCols" rowHeight="51px" gutterSize="1rem">
      <mat-grid-tile *ngFor="let file of folders;">
        <nme-file
          [file]="file"
          [selected]="selectedFiles.has(file)"
          [applyRubberbandCell]="file"
          (click)="onFileClick($event, file);"
          (contextmenu)="onContextMenu($event, file);"
          (selectedChange)="$event ? selectedFiles.add(file) : selectedFiles.delete(file); selectedFilesChange.emit(selectedFiles);">
        </nme-file>
      </mat-grid-tile>
    </mat-grid-list>
  </section>

  <section *ngIf="files.length > 0" class="files-section">
    <p>文件</p>
    <mat-grid-list [cols]="gridListCols" gutterSize="1rem">
      <mat-grid-tile *ngFor="let file of files;">
        <nme-file
          [file]="file"
          [selected]="selectedFiles.has(file)"
          [applyRubberbandCell]="file"
          (click)="onFileClick($event, file);"
          (contextmenu)="onContextMenu($event, file);"
          (selectedChange)="$event ? selectedFiles.add(file) : selectedFiles.delete(file); selectedFilesChange.emit(selectedFiles);">
        </nme-file>
      </mat-grid-tile>
    </mat-grid-list>
  </section>

  <div #contextMenuTrigger="matMenuTrigger"
    style="visibility: hidden; position: fixed"
    [style.top.px]="contextMenuPosition.y"
    [style.left.px]="contextMenuPosition.x"
    [matMenuTriggerFor]="contextMenu">
  </div>
  <mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-file="file">
      <ng-container *ngIf="file">
        <button mat-menu-item (click)="openFile(file);">
          <mat-icon class="material-icons--outlined">touch_app</mat-icon>打开
        </button>
        <button mat-menu-item>
          <mat-icon class="material-icons--outlined">cloud_download</mat-icon>下载
        </button>
        <button mat-menu-item>
          <mat-icon class="material-icons--outlined">share</mat-icon>生成共享链接
        </button>
        <mat-divider></mat-divider>
        <button *ngIf="file.isFile()" mat-menu-item>
          <mat-icon class="material-icons--outlined">file_copy</mat-icon>生成副本
        </button>
        <button mat-menu-item>
          <mat-icon class="material-icons--outlined">edit</mat-icon>重命名
        </button>
        <button mat-menu-item>
          <mat-icon svgIcon="file-move"></mat-icon>移动至...
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <mat-icon class="material-icons--outlined">delete</mat-icon>移动到回收站
        </button>
        <button mat-menu-item class="mat-warn">
          <mat-icon color="warn" class="material-icons--outlined">delete_forever</mat-icon>永久删除
        </button>
      </ng-container>
      <ng-container *ngIf="!file">
        <button mat-menu-item>
          <mat-icon class="material-icons--outlined">cloud_upload</mat-icon>上传文件
        </button>
        <button mat-menu-item>
          <mat-icon class="material-icons--outlined">create_new_folder</mat-icon>创建文件夹
        </button>
      </ng-container>
    </ng-template>
  </mat-menu>
</nme-rubberband>
