<nme-rubberband
  (contextmenu)="onContextMenu($event);"
  (selectedCellsChange)="onRubberbandSelectedCellsChange($event);">
  <section *ngIf="folders.length > 0" class="folders-section">
    <p>文件夹</p>
    <mat-grid-list [cols]="gridListCols" rowHeight="51px" gutterSize="1rem">
      <mat-grid-tile *ngFor="let file of folders;">
        <nme-file
          [file]="file"
          [selected]="selectedFiles.has(file)"
          [applyRubberbandCell]="file"
          (click)="onFileClick($event, file);"
          (contextmenu)="onContextMenu($event, file);"
          (selectedChange)="$event ? selectedFiles.add(file) : selectedFiles.delete(file); selectedFilesChange.emit(selectedFiles);">
        </nme-file>
      </mat-grid-tile>
    </mat-grid-list>
  </section>

  <section *ngIf="files.length > 0" class="files-section">
    <p>文件</p>
    <mat-grid-list [cols]="gridListCols" gutterSize="1rem">
      <mat-grid-tile *ngFor="let file of files;">
        <nme-file
          [file]="file"
          [selected]="selectedFiles.has(file)"
          [applyRubberbandCell]="file"
          (click)="onFileClick($event, file);"
          (contextmenu)="onContextMenu($event, file);"
          (selectedChange)="$event ? selectedFiles.add(file) : selectedFiles.delete(file); selectedFilesChange.emit(selectedFiles);">
        </nme-file>
      </mat-grid-tile>
    </mat-grid-list>
  </section>
</nme-rubberband>
