@import '~@angular/material/theming';

@include mat-core();

// Define your application's custom theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn:  mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

$background-image: url(../../../../assets/wallpapers/01.jpg);

:host {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  > .background {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    filter: blur(8px);
    z-index: -1;
    position: fixed;
    background-size: cover;
    background-image: $background-image;
    background-repeat: no-repeat;
    background-position: center;
  }
  > main {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    > mat-card {
      @include mat-elevation(4);
      width: 780px;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      padding: 0px;
      display: flex;
      overflow: hidden;
      flex-flow: row nowrap;
      border-radius: 8px;
      > section {
        flex: 1 0 50%;
        &.form-section {
          padding: 2rem;
          box-sizing: border-box;
          > h2 {
            margin: 0rem 0px 0.8rem 0px;
            text-align: center;
            font-weight: 500;
            letter-spacing: 1px;
          }
          > .welcome {
            color: rgba($color: #000000, $alpha: 0.8);
            margin: 0px;
            font-size: 14px;
            text-align: center;
            letter-spacing: 3px;
            text-transform: uppercase;
          }
          > .description {
            color: rgba($color: #000000, $alpha: 0.618);
            margin: 0px;
            font-size: 12px;
            text-align: center;
            letter-spacing: 2px;
          }
          > .no-account {
            color: rgba($color: #000000, $alpha: 0.618);
            margin: 14px 0px 6px 0px;
            font-size: 12px;
            text-align: center;
          }
          > form {
            display: block;
            padding-top: 1rem;
            > mat-form-field {
              width: 100%;
              mat-hint {
                color: mat-color($warn);
              }
            }
            .sign-in-button {
              width: 100%;
            }
          }
        }
        &.intro-section {
          background-size: cover;
          background-image: $background-image;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
  > footer {
    flex: 0 0 5rem;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    > section {
      width: 100%;
      color: rgba($color: #000000, $alpha: 0.618);
      font-size: 12px;
      text-align: center;
      & + section {
        margin-top: 0.5rem;
      }
      > span {
        & + span {
          margin-left: 0.8rem;
        }
        > a {
          color: rgba($color: #000000, $alpha: 0.618);
          text-decoration: none;
        }
      }
    }
  }
}
