<mat-toolbar color="primary" class="mat-elevation-z4">
  <mat-toolbar-row>
    <section class="mat-toolbar-section mat-toolbar-section--main">
      <button mat-icon-button class="sidenav-toggle-button" (click)="sidenav.toggle();">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Namera Drive</span>
    </section>
    <section></section>
    <section class="mat-toolbar-section mat-toolbar-section--extra">
      <button mat-icon-button
        matTooltip="上传列表"
        [matMenuTriggerFor]="notificationMenu">
        <mat-icon matBadge="2" matBadgeColor="warn" matBadgePosition="above after">cloud_upload</mat-icon>
        <mat-menu #notificationMenu="matMenu" class="mat-menu-panel--uploadings-panel" xPosition="before" yPosition="below">
          <ng-template matMenuContent>
            <nme-uploadings></nme-uploadings>
          </ng-template>
        </mat-menu>
      </button>
      <div class="user-xxxxxx">
        <button mat-icon-button>
          <mat-icon>apps</mat-icon>
        </button>
        <nme-avatar email="hungtcs@163.com" matRipple></nme-avatar>
      </div>
    </section>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="sidenavOpened">
    <mat-nav-list>
      <mat-list-item routerLink="/explorer" routerLinkActive="mat-list-item-disabled">
        <mat-icon mat-list-icon>cloud_queue</mat-icon>
        <a matLine>我的云端硬盘</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon class="material-icons--outlined">share</mat-icon>
        <a matLine>与我共享</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon class="material-icons--outlined">star_border</mat-icon>
        <a matLine>已加星标</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/recycle-bin" routerLinkActive="mat-list-item-disabled">
        <mat-icon mat-list-icon class="material-icons--outlined">delete</mat-icon>
        <a matLine>回收站</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
