<div #container class="nme-breadcrumb-container">

  <section #breadcrumbSections>
    <ng-container *ngIf="this.breadcrumbs.length > 1">
      <button mat-button (click)="this.breadcrumbClick.emit('/');"><span class="breadcrumb-text">{{ breadcrumbs[0] }}</span></button>
      <mat-icon>navigate_next</mat-icon>
    </ng-container>
    <ng-container *ngIf="this.breadcrumbs.length < 2">
      <button mat-button [matMenuTriggerFor]="dropdownMenu">
        <span class="breadcrumb-text">{{ breadcrumbs[0] }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </ng-container>
  </section>

  <section #breadcrumbSections *ngIf="hiddenBreadcrumbs.length > 0">
    <button mat-icon-button [matMenuTriggerFor]="hiddenBreadcrumbsMenu">
      <mat-icon>more_horiz</mat-icon>
      <mat-menu #hiddenBreadcrumbsMenu="matMenu">
        <button *ngFor="let item of hiddenBreadcrumbs; index as index;"
          mat-menu-item
          [matTooltip]="item"
          [matTooltipShowDelay]="500"
          (click)="onHiddenBreadcrumbClick(index);">
          {{ item }}
        </button>
      </mat-menu>
    </button>
    <mat-icon>navigate_next</mat-icon>
  </section>

  <section #breadcrumbSections *ngFor="let breadcrumb of breadcrumbs.slice(1); index as index; first as first; last as last;">
    <ng-container *ngIf="!last">
      <button mat-button
        [matTooltip]="breadcrumb"
        [matTooltipShowDelay]="500"
        (click)="onBreadcrumbClick(index);">
        <span class="breadcrumb-text">{{ breadcrumb }}</span>
      </button>
      <mat-icon>navigate_next</mat-icon>
    </ng-container>
    <ng-container *ngIf="last">
      <button mat-button
        [matTooltip]="breadcrumb"
        [matTooltipShowDelay]="500"
        [matMenuTriggerFor]="dropdownMenu">
        <span class="breadcrumb-text">{{ breadcrumb }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </ng-container>
  </section>

  <mat-menu #dropdownMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="explorerView.onUploadFilesClick();">
      <mat-icon class="material-icons--outlined">cloud_upload</mat-icon>上传文件
    </button>
    <button mat-menu-item (click)="explorerView.onCreateFolder();">
      <mat-icon class="material-icons--outlined">create_new_folder</mat-icon>创建文件夹
    </button>
  </mat-menu>

</div>
